# Note that the example values in this file are not actual passwords deployed
# on any real systems. They are *example* values, representing the pillars and
# data types you should create in your salt pillars to configure this formula.
#
# Be SURE to OVERRIDE the secrets in your pillars/secrets system.

secrets:
  dewey:
    postgres: Aiy5vah0cheep
    secret_key: faiw5xeeweetaizuDee7aigoFu7thif5Li5Ohthahtheigiy8chuTh8phash6eiS
    jira: asdf1234
    vault: uebeeMu9aikei
  pdns:
    api-key: iej6ood8amiequ7beiLe7eiMiepo9bi
uids:
  dewey:
    uid: 1234
    gid: 1234
version:
  postgresql_major: 9.4
dewey:
  django_settings_module: dewey.core.settings.production
  jira_user: dewey
  powerdns_api_url: 'http://10.9.8.7:8910'


